/* .container {
  width: 90%;
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;

  gap: 1rem;
} */

@media (min-width: 1em) and (max-width: 30em) {
}

@media (min-width: 30em) and (max-width: 60em) {
  .container {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 60em) and (max-width: 70em) {
  .container {
    width: 100%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 60em) and (max-width: 500em) {
  .container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
  }
}
