@media (min-width: 1em) and (max-width: 40em) {
  .list {
    display: none;
  }
}

@media (min-width: 40em) and (max-width: 70em) {
  .list li {
    display: inline;
    color: rgb(62, 62, 62);
    font-weight: 600;
    margin-left: 1rem;
    font-size: 1.3rem;
  }

  .list li:hover {
    color: #3459a6;
  }

  .list li:active {
    border-bottom: 0.1rem solid #3459a6;
  }
}

@media (min-width: 60em) and (max-width: 500em) {
  .list li {
    display: inline;
    color: rgb(62, 62, 62);
    font-weight: 600;
    margin-left: 1rem;
    font-size: 1.7rem;
  }

  .list li:hover {
    color: #3459a6;
  }

  .active a {
    border-bottom: 0.1rem solid #3459a6;
  }
}
