/* reset  */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 65.5%;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (min-width: 1em) and (max-width: 30em) {
  .hide__mobile {
    display: none;
  }
}

@media (min-width: 30em) and (max-width: 60em) {
  .hide__mobile {
    display: none;
  }
}

@media (min-width: 60em) and (max-width: 70em) {
  .hide {
    display: none;
  }
}

@media (min-width: 60em) and (max-width: 500em) {
  .hide {
    display: none;
  }
}
